.place__image {
    padding: 0;
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .place__image {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        margin-left: 0;
        display: block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: 100%;
    }
}