.place__image {
    padding: 0;
    margin: 0;
}

@media (min-width:321px) and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        display: block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: 100%;
    }
}