.place__image {
    padding: 0;
    margin: 0;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .place__image {
        display: block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        width: 100%;
    }
}