@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);
.header {
    width: 100%;
    margin: 0 auto;
    padding: 34px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 20px;
    }
}