@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);
.header {
    margin: 0 auto;
    padding: 34px 0 0 0;
    max-width: 984px;
    width: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 321px) and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
        padding-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        padding-top: 20px;
    }
}