.footer__copyright {
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: right;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 20px;
    }
}