.lead__subtitle {
    font-size: 30px;
    line-height: 125%;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    padding: 32px 0 64px 0;
    max-width: 720px;
    width: calc(100% - 148px);
}

@media (min-width: 320px) and (max-width: 470px) {
    .lead__subtitle {
        font-size: 16px;
        padding: 16px 0 40px 0;
        max-width: calc(100% - 32px);
    }
}