@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);
@import url(./__image/cover__image.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__text/cover__text.css);
.cover {
    width: calc(100% - 96px);
    height: 740px;
    margin: 0 auto;
    padding: 92px 0 0 0;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        height: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 480px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover {
        padding-top: 65px;
    }
}