.cover__overlay {
    background-image: url(../../../images/cover-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 740px;
    margin: 0 auto;
    color: white;
    display: flex;
    text-decoration: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.cover__overlay::before {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
        margin: 0;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}