.cover__title {
    font-size: 72px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 0 0 32px 0;
}

@media screen and (max-width: 320px) {
    .cover__title {
       font-size: 32px;
       padding-bottom: 16px;
    }
}