@import url(./__resources/footer__resources.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    width: calc(100% - 96px);
    margin: 0 auto;
    padding: 92px 0 24px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
    .footer {
        align-items: flex-start;
        margin: 0;
        padding: 64px 0 10px 16px;
    }
}