.page__wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: calc(1280px - 296px);
}

@media (min-width: 769px) and (max-width: 1279px) {
    .page__wrapper {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .page__wrapper {
        width: 100%;
    }
}