.grid {
    margin: 0 auto;
    padding: 0;
    max-width: 1184px;
    width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
    .grid {
        width: calc(100% - 48px);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .grid {
        width: calc(100% - 32px);
    }
}